<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TradeSheetWatcherPath-WatchFolder" value="D:\\MyData\\WatchFolder" />
    <add key="TradeSheetWatcherPath-Processed" value="D:\\MyData\\Processed" />
    <add key="TradeSheetWatcherPath-Failed" value="D:\\MyData\\Failed" />
  </appSettings>
  <connectionStrings>
    <add name="TradeConnectionString" connectionString="server=localhost; Database=ShippingTrade; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>